.resim {
    display: flex;
    justify-content: center;
}

.c{
    display: flex;
    justify-content: center;
}
.container {
    width: 90%;
}

li {
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.main {
    background-color: #EEEEEE;
}

.main button {
    margin: 0 2px;
}

.main input {
    width: 25%;
}

.card {
    float: left;
    width:40%;
    margin-top: -13px;
    height: 105px;
}

.renk_1 {
    background-color: #7EE5DA;
}

.renk_2{
    background-color: #70CCC2;
}
.renk_3{
    background-color: #62B3AA ;
}

.renk_3 button {
    margin: 0px 10px 0px 0px;
}

.card_2 {
    width: 19.6%;
    float: left; 
    margin-left: 0.2%;
    margin-right: 0.2%;
    margin-top: -13px;
    height: 105px;
}

.end {
    text-align: center;
    margin-top: 132px;
}

